@charset "utf-8";
.head{
    width: 100%;
    height: 470px;
    background: url("../img/index_head.png") center no-repeat;
    background-size: cover;
}
.head_title_box{
    height: 100%;
    margin-left: 30%;
    padding-top: 140px;
}
.head_title{
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.head_title_en{
    font-size: 20px;
    letter-spacing: 3px;
}
.head_dec{
    position: relative;
    font-size: 18px;
    top: 120px;
}
.underLine{
    padding-bottom: 10px;
    border-bottom: 2px solid #ed670f;
}
.middle_content{
    margin-top: 30px;
    text-align: center;
}
.m_content{
    text-align: left;
}
.m_content_p{
    font-size: 18px;
    margin: 20px 0;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-indent: 2em;
}
.p_first{
    margin-top: 30px;
}
.map_content{
    width: 100%;
    height: 500px;
    margin: 20px 0 80px;
    text-align: center;
}
.map{
    width: 50%;
    height: 100%;
    background: url("../img/connect_map.png") center no-repeat;
    background-size: cover;
    float:left;
}
.map_inner{
    width: 100%;
    height: 100%;
    background: rgba(0,104,183,0.5);
    padding: 50px 80px;
}
.map_new{
    margin: 40px 0;
}
.map_msg{
    width: 100%;
    text-align: center;
    margin: 20px 0 10px 0;
}
.map_msg_p{
    color: #006fbd;
    font-size: 18px;
}
.map_msg_sp{
    color: #333;
    font-size: 18px;
}
.tel{
    margin-left: 80px;
}
.map_new_img{
    width: 100%;
    height: 400px;
    background: url("../img/connect_map.png") center no-repeat;
    background-size: cover;
    border: 4px solid #FFFFFF;
    margin-bottom: 100px;
}
.line{
    width: 80%;
    height: 2px;
    background: #ffffff;
    margin: 20px 0;
}
.map_connect_txt{
    font-size: 18px;
    margin: 15px 0;
}
.form_box{
    width: 50%;
    height: 100%;
    float: right;
    padding: 50px 80px;
}
.form_label_box{
    width: 80%;
    border-bottom: 1px solid #9d9d9d;
    font-size: 16px;
    line-height: 32px;
    margin-top: 5px;
}
.form_label_box input{
    width: 80%;
    border: none;
    outline: none;
    background: none;
}
.form_label_box input:last-child{
    width: 70%;
}
.submit{
    border: 1px solid #ffffff;
    padding: 5px 20px;
    margin-top: 20px;
}