@charset "utf-8";
.head{
    width: 100%;
    height: 470px;
    background: url("../img/exam_head.png") center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 3px;
    position: relative;
}
.head_1{

}
.head_2{
    margin-top: 40px;
}
.register,.try{
    font-size: 16px;
    padding: 10px 59px;
    border: 1px solid #ed670f;
    margin: 100px 5px 0;
    border-radius:2px;
}
.try{
    background: rgba(237,104,15,0);
}
.middle_head{
    text-align: center;
    margin-top: 50px;
}
.middle{
    width: 100%;
    height: 580px;
    background: url("../img/exam_middle.png") center no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
}
.exam_middle_need{
    width: 100%;
    height: 700px;
    background: url("../img/exam_bg.png") center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0 80px;
}
.exam_need_head{
    margin-top: 0;
    padding-top: 50px;
}
.underline{
    padding-bottom: 10px;
    border-bottom: 2px solid #ed670f;
}
.middle_icon{
    width: 100%;
    height: 229px;
    margin-top: 30px;
}
.middle_icon_focus{
    position: relative;
    width: 16%;
    height: 232px;
    float: left;
    z-index: 100;
    margin: 2px;
}
/*.middle_icon_focus:hover{*/
    /*background: url("../img/icon_border_03.png") center no-repeat;*/
/*}*/
.middle_icon_1,.middle_icon_2,.middle_icon_3,.middle_icon_4,.middle_icon_5,.middle_icon_6{
    width: 165px;
    height: 191px;
    position: relative;
    top: 9px;
    left: -1px;
}
.middle_icon_1{
    background: url("../img/exam_1.png") center no-repeat;
}
.middle_icon_2{
    background: url("../img/exam_2.png") center no-repeat;
}
.middle_icon_3{
    background: url("../img/exam_3.png") center no-repeat;
}
.middle_icon_4{
    background: url("../img/exam_4.png") center no-repeat;
}
.middle_icon_5{
     background: url("../img/exam_5.png") center no-repeat;
}
.middle_icon_6{
    background: url("../img/exam_6.png") center no-repeat;
}
.middle_need_msg{
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #ed670f;
    text-align: left;
    z-index: 99;
    top: -15px;
}
.middle_need_company{
    position: relative;
    display: inline-block;
    width: 234px;
    height: auto;
    margin: 0 50px;
    vertical-align: top;
    top: 90px;
}
.middle_need_box{
    display: inline-block;
    width: 60%;
    height: 100%;
    text-align: left;
}
.middle_need_title{
    margin: 60px 0 30px 0;
    text-align: left;
    color: #333;
}
.middle_need_txt{
    font-size: 18px;
    text-align: left;
    margin-left: 5px;
    color: #4a4a4a;
    line-height: 1.8em;
}