@charset "utf-8";
.head{
    width: 100%;
    height: 470px;
    background: url("../img/service.png") center no-repeat;
    background-size: cover;
    text-align: center;
}
.section{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}
.section h2{
    padding: 10px;
    margin-top: 20px;
}
.underLine{
    padding-bottom: 10px;
    border-bottom: 3px solid #ed670f;
}
.middle_tab{
    margin-top: 50px;
    height: 350px;
    background: url("../img/service_middle_bg.png");
    background-size: cover;
    padding:0 50px;
    overflow: auto;
}
.m_tab{
    width: 23%;
    height: 306px;
    background: rgba(255,255,255,0.7);
    background-size: cover;
    padding: 40px 20px;
    float: left;
    margin: 5px 10px;
}
.m_tab_title{
    margin-top: 50px;
}
.m_tab_title_in{
    margin-top: 0px;
}
.m_tab_content{
    font-size: 16px;
}
#m_tab_1_in,#m_tab_2_in,#m_tab_3_in,#m_tab_4_in{
    display: none;
    vertical-align: top;
    padding: 10px 20px;
}
.flow{
    max-width: 100%;
    height: 330px;
    background: url("../img/service_model.png") center no-repeat;
    background-size: cover;
    margin-top: 50px;
}
@keyframes rotate{
    from{
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);}
    to{
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);}
}
.m_tab:hover{
    -webkit-animation: rotate 1s;
    -o-animation: rotate 1s;
    animation: rotate 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}