<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="考试系统 学习 作业 在线考试 自动阅卷 题库">
    <title>关于我们</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/connect.css" rel="stylesheet">
</head>
<body>
    <div class="container content">
        <nav class="nav_bar navbar-fixed-top">
            <ul class="nav_ul">
                <li><a href="connect.html" class="nav_link">关于我们</a></li>
                <li><a href="service.html" class="nav_link">服务模式</a></li>
                <li class="dropdown_li"><a href="javascript:void(0);" class="nav_link drop_link">
                    产品中心
                </a>
                    <ul class="project_menu bg_white">
                        <li class=""><a class="color_black_2" href="exam.html">在线考试</a></li>
                        <li class=""><a class="color_black_2" href="learn.html">在线学习</a></li>
                    </ul>
                </li>
                <li><a href="../index.html" class="nav_link">首页</a></li>
            </ul>
        </nav>
        <div class="head">
            <div class="head_title_box">
                <h1 class="color_green head_title">联系我们</h1>
                <p class="color_green head_title_en">contact &nbsp; us</p>
                <p class="color_green_2 head_dec">我们存在，只源于您的肯定与支持</p>
            </div>
        </div>
        <section class="middle_content row">
            <h3 class="m_head">关<span class="underLine">于我</span>们</h3>
            <div class="col-md-10 col-md-push-1 m_content">
                <p class="m_content_p">
                    在线学习考试系统综合了国内外在线培训领域同类产品的众家之长，不仅对系统功能深度优化，
                    而且对界面操作体验提出了更高的要求，让管理员轻松管理、让学员轻松学习成为产品你设计的最重要的标尺。
                </p>
                <p class="m_content_p">
                    它涵盖了知识库、自主学习、直播课堂、岗位学习、学习计划、综合考试、人才评估、
                    进度监控统计、系统资源统计、学员访问统计等方面，它既可组织大规模的正式培训、
                    正式考试、也可随时随地进行轻量级的学习、测验，它适用于企事业单位、学校和军
                    队的内部培训，也可以作为对外的在线培训平台，是一款功能强大、简单易用，统计
                    全面的企业级培训平台。
                </p>
            </div>
        </section>
        <div class="map_content">
            <h3 class="m_head">联<span class="underLine">系我</span>们</h3>
            <!--
            <div class="map">
                <div class="map_inner color_white">
                    <h3 class="map_connect_header color_white">联系方式</h3>
                    <div class="line"></div>
                    <p class="map_connect_txt color_white">地址：北京市海淀区数码银座502</p>
                    <p class="map_connect_txt color_white">电话：1230055566</p>
                </div>
            </div>
            <div class="form_box color_white">
                <h3 class="map_connect_header color_white">客户留言</h3>
                <div class="line"></div>
                <form action="/" method="post">
                    <div class="form_label_box">
                        <label for="uname">姓名：</label>
                        <input type="text" id="uname" name="uname" maxlength="10">
                    </div>
                    <div class="form_label_box">
                        <label for="tel">电话：</label>
                        <input type="tel" id="tel" name="uname" maxlength="15">
                    </div>
                    <div class="form_label_box">
                        <label for="desc">需求描述：</label>
                        <input type="text" id="desc" name="desc" maxlength="50">
                    </div>
                    <button type="button" class="submit bg_blue">提交</button>
                </form>
            </div>
            -->
            <div class="map_new">
                <div class="map_msg">
                    <span class="map_msg_p">公司地址：</span>
                    <span class="map_msg_sp">北京市海淀区数码银座502</span>
                    <sapn class="map_msg_p tel">客服电话：</sapn>
                    <span class="map_msg_sp">80448852</span>
                </div>
                <div class="map_new_img">
                </div>
            </div>
        </div>
        <footer class="foot bg_black">
            <div class="footer_left_box">
                <ul class="footer_ul clearfix">
                    <li class="footer_li"><a href="../index.html">首页</a></li>
                    <li class="footer_li"><a href="../view/exam.html">产品中心</a></li>
                    <li class="footer_li"><a href="../view/service.html">服务模式</a></li>
                    <li class="footer_li"><a href="../view/connect.html">关于我们</a></li>
                </ul>
            </div>
            <div class="footer_right_box">
                <span class="color_white tel">客服电话：80448852</span>
                <span class="color_gray address">地址：海淀区数码银座502</span>
            </div>
        </footer>
    </div>
    <!-- js-->
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/connect.js"></script>
</body>
</html>