<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于我们</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/connect.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="nav_bar">
            <ul class="nav_ul">
                <li><a href="/examOnline/view/connect.html" class="nav_link">关于我们</a></li>
                <li><a href="/examOnline/view/service.html" class="nav_link">服务</a></li>
                <li class="dropdown_li"><a href="javascript:void(0);" class="nav_link drop_link">
                    产品
                </a>
                    <ul class="project_menu bg_white">
                        <li class=""><a class="color_black_2" href="/examOnline/view/exam.html">在线考试</a></li>
                        <li class=""><a class="color_black_2" href="/examOnline/view/learn.html">在线学习</a></li>
                    </ul>
                </li>
                <li><a href="/examOnline/index.html" class="nav_link">首页</a></li>
            </ul>
        </nav>
        <div class="head">
            <div class="head_title_box">
                <h1 class="color_orange head_title">联系我们</h1>
                <p class="color_orange head_title_en">contact &nbsp; us</p>
                <p class="color_gray_2 head_dec">我们存在，只源于您的肯定与支持</p>
            </div>
        </div>
        <section class="middle_content row">
            <h3 class="m_head">公司介绍</h3>
            <div class="col-md-8 col-md-push-2 m_content">
                <p class="m_content_p">
                    在线学习考试系统是国内领先的在线教育云平台，可满足员工培训考试、经销商考试、
                    招聘考试、知识竞赛、课后作业、模考练习等多种场景的考试需求。
                </p>
                <p class="m_content_p">
                    它涵盖了知识库、自主学习、直播课堂、岗位学习、学习计划、综合考试、人才评估、
                    进度监控统计、系统资源统计、学员访问统计等方面，它既可组织大规模的正式培训、
                    正式考试、也可随时随地进行轻量级的学习、测验，它适用于企事业单位、学校和军
                    队的内部培训，也可以作为对外的在线培训平台，是一款功能强大、简单易用，统计
                    全面的企业级培训平台。
                </p>
            </div>
        </section>
        <div class="map_content bg_blue">
            <div class="map">
                <div class="map_inner color_white">
                    <h3 class="map_connect_header color_white">联系方式</h3>
                    <div class="line"></div>
                    <p class="map_connect_txt color_white">地址：北京市海淀区数码银座502</p>
                    <p class="map_connect_txt color_white">电话：1230055566</p>
                </div>
            </div>
            <div class="form_box color_white">
                <h3 class="map_connect_header color_white">客户留言</h3>
                <div class="line"></div>
                <form action="/" method="post">
                    <div class="form_label_box">
                        <label for="uname">姓名：</label>
                        <input type="text" id="uname" name="uname" maxlength="10">
                    </div>
                    <div class="form_label_box">
                        <label for="tel">电话：</label>
                        <input type="tel" id="tel" name="uname" maxlength="15">
                    </div>
                    <div class="form_label_box">
                        <label for="desc">需求描述：</label>
                        <input type="text" id="desc" name="desc" maxlength="50">
                    </div>
                    <button type="button" class="submit bg_blue">提交</button>
                </form>
            </div>
        </div>
        <footer class="foot bg_black">
            <div class="foot_middle clearfix">
                <div class="foot_left">
                    <span class="foot_title color_white">产品</span>
                    <a class="foot_link color_gray" href="/examOnline/view/exam.html">在线考试</a>
                    <a class="foot_link color_gray" href="/examOnline/view/learn.html">在线学习</a>
                </div>
                <div class="foot_right">
                    <span class="foot_title color_white">客服信息</span>
                    <span class="color_gray">电话：1234558</span>
                    <span class="color_gray">地址：海淀区数码银座502</span>
                </div>
            </div>
        </footer>
    </div>
    <!-- js-->
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/connect.js"></script>
</body>
</html>