<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>在线考试</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/exam.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="head">
            <button type="button" class="register color_white bg_orange">立即注册</button>
            <button type="button" class="try color_black">快速体验</button>
        </div>
        <div class="middle">
            <h3 class="middle_head">在线考<span class="underline">试功</span>能介绍</h3>
        </div>
        <div class="exam_middle_need">
            <h3 class="exam_need_head">不同场景<span class="underline">下的</span>考试需求</h3>
        </div>
    </div>
</body>
</html>