<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>在线学习</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/learn.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="head">
            <button type="button" class="register color_white bg_orange">立即注册</button>
            <button type="button" class="try color_black">快速体验</button>
        </div>
        <div class="middle_box">
            <h3 class="middle_head">在线学<span class="underline">习功</span>能介绍</h3>
            <div class="learn_middle">
            </div>
        </div>
        <div class="learn_pro"></div>
    </div>
</body>
</html>