<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="考试系统 学习 作业 在线考试 自动阅卷 题库">
    <title>在线学习</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/all.css" rel="stylesheet">
    <link href="../css/learn.css" rel="stylesheet">
</head>
<body>
    <div class="container content">
        <nav class="nav_bar navbar-fixed-top">
            <ul class="nav_ul">
                <li><a href="connect.html" class="nav_link">关于我们</a></li>
                <li><a href="service.html" class="nav_link">服务模式</a></li>
                <li class="dropdown_li"><a href="javascript:void(0);" class="nav_link drop_link">
                    产品中心
                </a>
                    <ul class="project_menu bg_white">
                        <li class=""><a class="color_black_2" href="exam.html">在线考试</a></li>
                        <li class=""><a class="color_black_2" href="learn.html">在线学习</a></li>
                    </ul>
                </li>
                <li><a href="../index.html" class="nav_link">首页</a></li>
            </ul>
        </nav>
        <div class="head">
            <button type="button" class="register color_white bg_orange">免费试用</button>
            <!--<button type="button" class="try color_black">快速体验</button>-->
        </div>
        <div class="middle_box">
            <h3 class="middle_head">在线学<span class="underline">习功</span>能介绍</h3>
            <div class="learn_middle ">
                <div class="learn_middle_item">
                    <div class="l_m_icon">
                        <img src="../img/learn_m_1.png">
                    </div>
                    <h3 class="middle_title color_black_3">学习计划</h3>
                    <div class="l_m_span_box">
                        <span class="l_m_span color_black_4">指定人群</span><span class="l_m_span color_black_4">指定时间</span>
                    </div>
                    <div>
                        <span class="l_m_span color_black_4">指定课程</span><span class="l_m_span color_black_4">指定标准</span>
                    </div>
                </div>
                <div class="learn_middle_item">
                    <div class="l_m_icon">
                        <img src="../img/learn_m_2.png">
                    </div>
                    <h3 class="middle_title color_black_3">在线学习</h3>
                    <div class="l_m_span_box">
                        <span class="l_m_span color_black_4">视频学习</span><span class="l_m_span color_black_4">scrom学习</span>
                    </div>
                    <div>
                        <span class="l_m_span color_black_4">文档学习</span><span class="l_m_span color_black_4">Flash学习</span>
                    </div>
                </div>
                <div class="learn_middle_item">
                    <div class="l_m_icon">
                        <img src="../img/learn_m_3.png">
                    </div>
                    <h3 class="middle_title color_black_3">督学监控</h3>
                    <div class="l_m_span_box">
                        <span class="l_m_span color_black_4">登录监控</span><span class="l_m_span color_black_4">学习监控</span>
                    </div>
                    <div>
                        <span class="l_m_span color_black_4">学员作弊</span><span class="l_m_span color_black_4">监控拦截</span>
                    </div>
                </div>
                <div class="learn_middle_item">
                    <div class="l_m_icon">
                        <img src="../img/learn_m_4.png">
                    </div>
                    <h3 class="middle_title color_black_3">学习计划</h3>
                    <div class="l_m_span_box">
                        <span class="l_m_span color_black_4">问卷体系</span><span class="l_m_span color_black_4">学分体系</span>
                    </div>
                    <div>
                        <span class="l_m_span color_black_4">学习互动</span><span class="l_m_span color_black_4">学习笔记</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn_pro">
            <div class="learn_pro_left">
                <h3 class="learn_pro_title color_black_3">产品特色</h3>
                <p class="color_black_4 lear_pro_content">
                    它涵盖了知识库、自主学习、直播课堂、岗位学习、学习计划、综合考试、人才评估、进度监控统计、系统资源统计、学员访问统计等方面
                    它既可组织大规模的正式培训、正式考试、也可随时随地进行轻量级的学习、测验，它适用于企事业单位、学校和军队的内部培训，
                    也可以作为对外的在线培训平台，是一款功能强大、简单易用，统计全面的企业级培训平台。
                </p>
            </div>
            <div class="learn_pro_right">
                <div>
                    <h4>不限浏览器</h4>
                    <p>系统支持业界几乎所有的浏览器（包括3种内核，QQ，360搜狗等浏览器的内核属于其中之一）</p>
                </div>
                <div>
                    <h4>不限操作系统</h4>
                    <p>系统用JAVA开发，符合J2EE规范标准，可在不同的操作系统上安装运行，可极大的利用硬件资源。</p>
                </div>
                <div>
                    <h4>强化岗位学习</h4>
                    <p>可在系统中建立岗位体系，可组织岗位学习（含练习，考试，证书）或由用户选择与岗位相关的课程自主学习。</p>
                </div>
                <div>
                    <h4>全方位监控</h4>
                    <p>可用过控制台了解学习，考试情况，可从多角度监控各种模式的学习进度。</p>
                </div>
                <div>
                    <h4>全方位统计</h4>
                    <p>可统计学员学习概况，学分排名，访问网站等信息，可统计系统概况，知识库，题库等信息。</p>
                </div>
            </div>
        </div>
        <footer class="foot bg_black">
            <div class="footer_left_box">
                <ul class="footer_ul clearfix">
                    <li class="footer_li"><a href="../index.html">首页</a></li>
                    <li class="footer_li"><a href="../view/exam.html">产品中心</a></li>
                    <li class="footer_li"><a href="../view/service.html">服务模式</a></li>
                    <li class="footer_li"><a href="../view/connect.html">关于我们</a></li>
                </ul>
            </div>
            <div class="footer_right_box">
                <span class="color_white tel">客服电话：80448852</span>
                <span class="color_gray address">地址：海淀区数码银座502</span>
            </div>
        </footer>
    </div>
    <!-- js-->
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/learn.js"></script>
</body>
</html>